@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kanit", sans-serif;
  width: 100%;
}

#header-bg {
  background-image: url("../src/assets/headerbg.jpg");
  background-size: cover;
  background-position: center;
}

div a.active {
  border-bottom: 2px solid #36A754;
}

.activeBtn {
  background-color: #36A754;
}

#searchBtn{
  padding-top: 12px;
}

.download-button {
  position: absolute;
  bottom: 4px; /* Default for mobile */
  right: 4px; /* Keep right alignment */
  
}

/* Styles for desktop and tablet screens */
@media (min-width: 768px) { /* You can adjust the min-width as per your design breakpoints */
  .download-button {
    top: 10px;
    right: 10px; /* Move to the top */
    bottom: auto; /* Reset bottom */
  }
}

